body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    padding: 50px;
    text-align: center;
    font-size: large;
    background-color: rgb(199, 67, 206);
    color: rgb(255, 255, 255);
    border: 30px solid rgb(255, 158, 244);
}

ul, ol {
    text-align: left;
    display: inline-block;
    margin-left: 40px;
}

.back-to-top a {
    background-color: rgb(255, 158, 244);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
}

.title {
    background-color: rgb(255, 158, 244);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1px;
    font-size: xx-large;
    font-family: cursive;
}

.PictureofCastle {
    background-color: rgb(245, 111, 230);
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: large;
    font-family: cursive;
}

.Video {
    background-color: rgb(245, 111, 230);
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: large;
    font-family: cursive;
}

.map {
    background-color: rgb(245, 111, 230);
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: large;
    font-family: cursive;
}

.resume a {
    background-color: rgb(255, 158, 244);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.mickeygame a {
    background-color: rgb(255, 158, 244);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}